<%= print_title %> 

<%= table_for @items, html: { class: "table table-stripped" } do |t| 
  t.data actions: [:edit, :destroy] do
    t.cell :id, heading: '#'
    t.cell :name  
    t.cell :barcode  
  end
end %>

<div class="col-xs-offset-1">
  <%= link_to fa_icon("plus", text: "Novo Produto"), new_item_path %>
</div>
