/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require_self
 */
 @import "font-awesome";

.navbar .navbar-brand {
	padding:3px 15px;
}

.navbar .navbar-default .navbar-static-top {
	background-color: black;
}

.table td {
   text-align: center;   
}

.table  th {
   text-align: center;   
}

.app-title .page-header {
	margin-top: 20px;
}

.user-icon {
	font-size: 22px;
}

li:hover i[class^="user-icon"] { font-size:36px; }
